.#{$prefix}-header {
  box-shadow: $box-shadow-2;
  padding: $size-xl $size-xxl;
}

.#{$prefix}-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.#{$prefix}-nav__link {
  @include sd-text-md($font-weight: $font-weight-medium);
  color: $color-neutral-90;
  text-decoration: none;

  &:visited {
    color: $color-primary-active;
  }

  &:hover {
    color: $color-primary-default;
  }

  &:active {
    color: $color-primary-active;
  }
}

@include breakpoint-up('md') {
  .#{$prefix}-header__menu {
    display: none;
  }
}

// Hero styles added here until there's a separate component
.#{$prefix}-hero {
  padding: $size-6xl 0;
  text-align: center;
}

.#{$prefix}-hero__title {
  @include sd-heading-level-1;
  color: $color-neutral-100;
}

.#{$prefix}-hero__subtitle {
  @include sd-heading-level-2;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 50rem;
}
